footer
	.footer-block
		.container
			.row
				.block-title.col-xl-12
					h1 bệnh viện chợ rẫy
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card.pr-40
					.card__title
						h2 thông tin liên hệ
					.card__body
						ul
							li
								span
									i.ri-map-pin-5-line
								p Địa chỉ: 201B Nguyễn Chí Thanh, Phường 12, Quận 5, Thành phố Hồ Chí Minh
							li
								span
									i.ri-phone-line
								p Điện thoại: 
									strong (84-028) 38554137 - (84-028) 38554138 
							li
								span
									i.ri-printer-line
								p Fax: (84-028) 38557267
							li
								span
									i.ri-mail-line
								p Email: truyenthong@bvchoray.com
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h2 giới thiệu
					.card__body
						ul
							li
								a(href="") Tổng quan
							li
								a(href="") Lịch sử hình thành
							li
								a(href="") Dịnh hướng phát triển
							li
								a(href="") Cơ cấu tổ chức
							li
								a(href="") Hệ thống văn bản
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h2 các trung tâm
					.card__body
						ul
							li
								a(href="") Trung tâm khu vực về thông tin thuốc và theo dõi phản ứng có hại của thuốc
							li
								a(href="") Trung tâm truyền máu khu vực phía Nam
							li
								a(href="") Trung tâm Tim mạch Chợ Rẫy
							li
								a(href="") Trung tâm Ung bứu Chợ Rẫy
							li
								a(href="") Trung tâm Đào tạo – Chỉ đạo tuyến
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h2 hỗ trợ khách hàng
					.card__body
						ul
							li
								a(href="") Bảng giá dịch vụ
							li
								a(href="") Đặt lịch hẹn bác sĩ
							li
								a(href="") Đặt mua gói khám sức khỏe
							li
								a(href="") Những câu hỏi thường gặp
							li
								a(href="") Chính sách bảo mật
							li
								a(href="") Tiếp nhận ý kiến khách hàng
	.copyright
		.container
			.row
				.col-md-3.col-sm-6.col-6.content
					a(href="") © 2020 Chợ Rẫy
				.col-md-3.col-sm-6.col-6.content
					a(href="") Thiết kế website bởi Cánh Cam
				.col-md-3.col-sm-6.col-6.content
					ul
						li
							a(href="") Sitemap
						li
							a(href="") Quy định sử dụng
				.col-md-3.col-sm-6.col-6.content
					ul.social
						li
							a(href="")
								i.fab.fa-linkedin-in
						li
							a(href="")
								i.fab.fa-facebook-square
						li
							a(href="")
								i.fab.fa-instagram
						li
							a(href="")
								i.fab.fa-youtube