#block__tool
	.icon-tool
		.icon
			em.ri-settings-2-line
	ul.tool-main
		li.item
			a(href="")
				em.ri-mail-send-line
		li.item.has-sub
			a(href="")
				em.ri-phone-line
			.sub-left
				span 0977.010.200
				ul.sub-menu
					li.sub-item
						a(href="", data-toggle="modal", data-target="#popupKB")
							em.ri-file-add-line
							span Đăng ký khám bệnh
					li.sub-item
						a(href="", data-toggle="modal", data-target="#popupDV")
							em.ri-pen-nib-fill
							span Đăng ký dịch vụ
					li.sub-item
						a(href="")
							em.ri-calendar-2-line
							span Lịch khám bệnh
					li.sub-item
						a(href="")
							em.ri-stethoscope-line
							span Tìm bác sĩ
					li.sub-item
						a(href="")
							em.ri-customer-service-2-fill
							span Hướng dẫn
					li.sub-item
						a(href="", data-toggle="modal", data-target="#popupTV")
							em.ri-quill-pen-line
							span Đăng ký tư vấn
					li.sub-item
						a(href="", data-toggle="modal", data-target="#popupDV")
							em.ri-bus-line
							span Dịch vụ vận chuyển
					li.sub-item
						a(href="")
							em.ri-phone-line
							span Hotline cấp cứu
					li.sub-item
						a(href="")
							em.ri-organization-chart
							span Sơ đồ bệnh viện
		li.item
			a(href="", data-toggle="modal", data-target="#popupYK")
				em.ri-question-answer-line

